body {
  background: url(images/2.jpeg);

  background-size: cover;
}

.container {
  width: 40%;
  margin: auto;
  color: white;
  margin-top: 80px;
  background-color: #4a5c5c;
  text-align: center;
  overflow: hidden;
  padding: 8px;
}
hr {
  width: 70%;
}
.Fb {
  padding: 9px;
  background-color: #EODCBE;
  border: none;
  border-radius: 5px;
}

.container input {
  width: 70%;
  padding: 8px;
  color: black;
}

a {
  text-decoration: none;
}

.container input[type="checkbox"] {
  width: auto;
}
.btn {
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
  border-radius: 18px;
  background-color: gray;
}

.btn:hover {
  background-color: darkgreen;
}
